#exportPattern("^[[:alpha:]]+")
useDynLib(YABS, .registration=TRUE)
exportPattern("BF")
exportPattern("infoCrit")
exportPattern("LA")
exportPattern("MAP_pvalue")
exportPattern("MCMC")
exportPattern("postIC")
exportPattern("print.YABS_MCMC")
exportPattern("print.YABS_LA")
exportPattern("summary.YABS_MCMC")
exportPattern("summary.YABS_LA")
S3method(print, YABS_MCMC)
S3method(summary, YABS_MCMC)
S3method(print, YABS_LA)
S3method(summary, YABS_LA)
importFrom(Rcpp, evalCpp)
importFrom(coda, as.mcmc, as.mcmc.list, effectiveSize, mcmc, nchain, niter, nvar, varnames)
importFrom(stats, median, optim, qf, quantile, sd, var, density, nlm, nlminb, optimHess)
importFrom(Matrix, nearPD)
importFrom(MASS, mvrnorm, ginv)
importFrom(parallel, makeCluster, stopCluster, parLapply)
importFrom(pbapply, pboptions, pblapply)