#exportPattern("^[[:alpha:]]+")
useDynLib(YABS, .registration=TRUE)
exportPattern("MCMC")
exportPattern("print.YABS")
exportPattern("summary.YABS")
S3method(print, YABS)
S3method(summary, YABS)
importFrom(Rcpp, evalCpp)
importFrom(coda, as.mcmc.list, effectiveSize, mcmc, nchain, niter, nvar, varnames)
importFrom(stats, median, qf, quantile, sd, var)
importFrom(Matrix, nearPD)
importFrom(MASS, mvrnorm, ginv)
importFrom(parallel, makeCluster, stopCluster)
importFrom(pbapply, pboptions, pblapply)